@import url(./rootVar.css);

.complete-book-container,
.uncomplete-book-container {
    height: calc(100vh - var(---height-without-content-mobile));
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
}

.book-card {
    height: 150px;
    min-width: 330px;
    max-width: 440px;
    background-color: var(---aside-bg-color);
    flex-grow: 1 !important;
}

.book-card figcaption {
    max-width: 80px;
    max-height: 120px;
}

@media screen and (min-width: 380px) {

    .complete-book-container,
    .uncomplete-book-container {
        height: calc(100vh - var(---height-without-content-tablet) - 40px) !important;
    }
}

@media screen and (min-width: 480px) {

    .complete-book-container,
    .uncomplete-book-container {
        height: calc(100vh - var(---height-without-content-tablet) - 45px) !important;
    }
}

@media screen and (min-width: 574px) {

    .complete-book-container,
    .uncomplete-book-container {
        height: calc(100vh - var(---height-without-content-tablet) - 80px) !important;
    }
}

@media screen and (min-width: 768px) {

    .complete-book-container,
    .uncomplete-book-container {
        height: calc(100vh - var(---height-without-content-tablet) - 40px) !important;
    }
}